*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: aliceblue;
}
.form{
    width: 335px;
    height: 400px;
    background-color: white;
    margin:0 auto;
    padding: 50px;
    margin-top: 30px;
    padding-top:10px;
    box-shadow: 5px 5px 10px 7px rgba(0,0,0,0.3);
}
input{
    display: block;
    padding: 5px;
    margin: 20px;
    width: 250px;
    height: 17px;
}
h1{
    padding-top:10px ;
    padding-bottom: 20px;
}
p{
    padding-bottom: 10px;
}
#firstname, #lastname{
    
}
.submit{
    width:265px;
    margin-top: 16px ;
    margin-left: 19px;
    height: 30px;
}
.outed{
    text-align: center;
    padding-top: 27px;
    font-size: 18px;
}
.submit:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
}