:root{
    --success-color: green;
    --error-color: red;
}



*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    min-height: 400px;
    width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

.name{
    text-align: center;
}
.formcontrol{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    margin: 5px;
}
label{
    display: block;
    text-align: left;
    padding: 3px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 15px;
}
input{
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid black;
    padding-left: 20px;
}
small{
    display: block;
    text-align: left;
    margin: 10px;
    visibility: hidden;
}
.submit{
    width: 360px;
    padding: px;
    font-size: 15px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    
}
.former-succes input{
    border-color: red ;
}

.former.success input{
    border-color: var(--success-color);
}

.former.error input{
    border-color:var(--error-color);
}

.former.error small{
    visibility: visible;
    color: red;
}
.submit:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}