@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006266;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 900px;
}
.container h1{
    margin-bottom: 10px;
}
.container .movies{
    display: flex;
    margin-bottom: 10px;
}
label{
    font-size: 18px;
}
.container .movies #movies{
    width: 200px;
    margin:0 5px;
    font-size: 17px;
    outline: 0;
}
.container .applied-seats{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .applied-seats div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat{
    height: 22px;
    width: 22px;
    background-color: #A3CB38;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:5px;
    cursor: pointer;
}
.row{
    display: flex;
}
.seat.selected{
    background-color: #D980FA;
}
.seat:not(.occupied):active{
    transform: scale(0.8);
}
.seat.occupied{
    background-color: red;
    cursor:default;
}
.screen{
    width: 350px;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    margin: 10px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
#movie{
    height: 100%;
    width: 100%;
}
.status p{
    font-size: 20px;
    margin-top: 10px;
}
.status span{
    font-size: 24px;
}